@model IEnumerable<BookingSite.Web.ViewModels.HotelViewModel>

@{
    ViewData["Title"] = "Search Results";
}

<h2>Search Results</h2>
<form asp-action="Booking">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HotelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StarRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HotelRooms)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var hotel in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => hotel.HotelName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => hotel.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => hotel.StarRating)
                        </td>
                        <td>
                            <table>
                                @if (hotel != null && hotel.HotelRooms != null && hotel.HotelRooms.Any())
                                {
                                    foreach (var room in hotel.HotelRooms)
                                    {
                                        <tr>
                                            <td>@room.RoomType</td>
                                            <td>@room.Tariff</td>
                                            <td>
                                                @Html.ActionLink("Select", "Booking", "Hotel", new { hotelRoomId = room.ID })
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>No Rooms To Show</td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="4">No Hotels Match The Search</th>
                </tr>
            }
        </tbody>
    </table>
</form>